@font-face {
  font-family: 'Neue Machina';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(/fonts/PPNeueMachina-Ultralight.woff2) format('woff2');
}

@font-face {
  font-family: 'Neue Machina';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/PPNeueMachina-Light.woff2) format('woff2');
}

@font-face {
  font-family: 'Neue Machina';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/PPNeueMachina-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Neue Machina';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/PPNeueMachina-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'Neue Machina';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/PPNeueMachina-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Neue Machina';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(/fonts/PPNeueMachina-Ultrabold.woff2) format('woff2');
}

@font-face {
  font-family: 'Neue Machina';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(/fonts/PPNeueMachina-Black.woff2) format('woff2');
}
